<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izveidot jaunu dzērnienu 🍾</title>
</head>
<body>
  <h1 align="center"> Ievadi jauna dzēriena datus </h1>
  <hr><center>
    <form method="post">
        Jauna dzēriena nosaukums:<br><input type="text" name="name" placeholder="nosaukums" required><br>
        Attēla URL Adrese:<br><input type="text" name="img_url" placeholder="url" required><br>
        Jauna dzēriena grādi:<br> <input type="number" name="degre" step="1" placeholder="%" required><br>
        Jauna dzēriena cena: <br><input type="number" name="price" placeholder="€" step=".01" required><br>
        Vai ir akcija? :<br><input type="checkbox" name="discount"><br>

        <button type="submit">Izveidot dzērienu</button>



    </form>
</center>

</body>
</html>