<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users 🤗</title>
</head>
<body>
<h1 align="center"> All database users !</h1>
<hr>

<table align="center" border="1px" cellspacing="0px" width="700px">
    <tr align="center">
        <td>ID</td>
        <td>USERNAME</td>
        <td>PASSWORD</td>
        <td>IS ADMIN</td>
    </tr>
    {%for oneRow in userData %}
    <tr>
      {%for oneWord in oneRow %}
        <td>{{oneWord}}</td>

        {% endfor %}
    </tr>
    {% endfor %}

</table>

<a href="/"><button>Go back!</button></a>

</body>
</html>