<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page 👛</title>
</head>
<body bgcolor="#58e87f">
<h1 align="center">Flask Product Main Page!</h1>
<hr>
<h2 align="center">Database Products:</h2>


<center>
<a href="/alcohol"><button> Open alco product Page</button></a>
<br>
<a href="/add_alcohol"><button>Add new Alcohol</button>
</a>
<hr>
<h2>Database Users:</h2>
    <a href="/all_users"><button>Open all database Users</button></a>
    <br>
    <a href="/log_in"><button>Log In</button></a>
</center>

</body>
</html>